---
---
@import "{{ site.theme }}";

header {
  background: #2e7bcf url('https://hvf-theory.org') center center no-repeat !important;
  background-size: cover !important;
  padding: 100px 0 !important;
}

.inner, section.inner, header .inner {
  max-width: 850px !important;
  margin: 0 auto !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  color: #333 !important;
}
